<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                            http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean name="dozer" class="org.dozer.DozerBeanMapper" />

    <bean name="beanTransformer" class="org.sbezgin.p2016.services.impl.BeanTransformerImpl">
        <property name="dozerBeanMapper" ref="dozer"/>
        <property name="beanMap">
            <map>
                <entry key="org.sbezgin.p2016.db.dto.file.FolderDTO" value="org.sbezgin.p2016.db.entity.file.Folder"/>
            </map>
        </property>
    </bean>

    <!-- services -->
    <bean name="fileService" class="org.sbezgin.p2016.services.file.impl.FileServiceImpl">
        <property name="fileDAO" ref="fileDAO" />
        <property name="beanTransformer" ref="beanTransformer"/>
    </bean>

    <!-- dao -->
    <bean name="fileDAO" class="org.sbezgin.p2016.db.dao.impl.FileDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>