<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                            http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!--File Transformers-->
    <bean name="dozer" class="org.dozer.DozerBeanMapper" />

    <bean name="transformerHolder" class="org.sbezgin.p2016.service.transformer.impl.BeanTransformerHolderImpl">
        <property name="generalTransformer" ref="generalBeanTransformer"/>
        <property name="mappedTransformers">
            <map>
                <entry key="org.sbezgin.p2016.db.entity.file.TextFile" value-ref="textFileTransformer"/>
                <entry key="org.sbezgin.p2016.db.dto.file.TextFileDTO" value-ref="textFileTransformer"/>
                <entry key="org.sbezgin.p2016.db.dto.file.FolderDTO" value-ref="folderTransformer"/>
                <entry key="org.sbezgin.p2016.db.entity.file.Folder" value-ref="folderTransformer"/>
            </map>
        </property>
    </bean>

    <bean name="generalBeanTransformer" class="org.sbezgin.p2016.service.transformer.impl.GeneralBeanTransformerImpl">
        <property name="dozerBeanMapper" ref="dozer"/>
        <property name="beanMap">
            <map>
                <entry key=""    value=""/>
                <entry key="org.sbezgin.p2016.db.dto.UserDTO"           value="org.sbezgin.p2016.db.entity.User"/>
                <entry key="org.sbezgin.p2016.db.dto.PermissionDTO"     value="org.sbezgin.p2016.db.entity.Permission"/>
            </map>
        </property>
    </bean>

    <bean name="textFileTransformer" class="org.sbezgin.p2016.service.transformer.impl.TextFileTransformerImpl" />
    <bean name="folderTransformer" class="org.sbezgin.p2016.service.transformer.impl.FolderTransformerImpl" />

    <!-- services -->
    <bean name="fileService" class="org.sbezgin.p2016.service.file.impl.FileServiceImpl">
        <property name="fileDAO" ref="fileDAO" />
        <property name="userService" ref="userService" />
        <property name="beanTransformerHolder" ref="transformerHolder"/>
    </bean>
    <bean id="userService" class="org.sbezgin.p2016.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
        <property name="beanTransformerHolder" ref="transformerHolder"/>
    </bean>

    <!-- dao -->
    <bean name="fileDAO" class="org.sbezgin.p2016.db.dao.impl.FileDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userDAO" class="org.sbezgin.p2016.db.dao.impl.UserDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>